.reviews {
    padding-bottom: 80px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__img {
        max-width: 100%;
        height: 169px;
    }
    &__descr {
        margin-left: 60px;
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
    }
    &__achivement {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
    }
    &__text {
        margin-top: 10px;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
    }
}